
body {
  background: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5vw;
}

.nav-default {
	background: white;

}

h1, h2, h3, h4, h5{
	color:#4A4E69 !important;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.main-container {
	padding-top:50px;
}

.about-me h1 {
	font-size:24px;
}

.about-me h2 {
	font-size:20px;
}

.about-me h3 {
	font-size:18px;
}

.bottom-cta {
	background: white;
	position: fixed;
	width: 100%;
	padding: 15px;
	box-shadow: 0 0 2px 3px lightgrey;
	left: 0;
	z-index: 10000;
	bottom: 0;
}

.cta-icon {
	font-size:2em;
	margin:5px;
}


.cta-icon:hover,
.cta-icon:focus {
	text-decoration: none;
}

.tech{
	font-size: 3em;
	flex-wrap: wrap;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.tech-icon {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip {
	visibility: hidden;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem;
	position: absolute;
	bottom: 125%; /* Position above the icon */
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s;
	white-space: nowrap; /* Prevent text wrapping */
}

.tooltip::after {
	content: '';
	position: absolute;
	top: 100%; /* Arrow at the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

.tech-icon:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

.profile-pic {
	box-shadow: 0 4px 6px 2px lightgrey;
  border-radius: 50%;
  max-width: 70%;
}

.navbar-default {
	background-color: #C9ADA7;
	background: none;
	border: none;
	border-radius:0;
}

.work-item-row {
	/*padding: 10% 0;*/
	margin-bottom:100px;
}

.row-tools {
  padding: 50px 0;
}

.btn-launch {
	width:100%;
	max-width:200px;
	background-color: #337ab7;
	color:white;
	box-shadow: 0 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: white;
	background: #225078;
}

.about-side {
	position:fixed;
}

.project {
	background: #eeeeee;
	border-radius:5px;
	box-shadow: 0 0 2px 2px lightgrey;
	padding: 30px;
}

.project h2 {
	color: #337ab7!important;
}
